@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@media (prefers-color-scheme: dark) {
  .dark-mode-lights {
    background-image: radial-gradient(
      circle at top,
      #ffc85e 0%,
      #663407 40%,
      #000000 50%
    );
  }
}
